#big-page-img{
    max-width: 1366px;
    margin: 0 auto;
    img{
        width: 100%;
        height: 213px;
        @media screen and (min-width: 640px){
            height: 260px;
        }
        @media screen and (min-width: 992px){
            height: 333px;
        }
        @media screen and (min-width: 1100px){
            height: unset;
        }
    }
}