#blog-text, #blog-text-second{
    background-position: center !important;
    background-size: cover !important;
    padding: 20px 15px;
    @media screen and (min-width: 640px){
        padding: 30px 40px;    
    }
    @media screen and (min-width: 992px){
        padding: 40px;  
    }
    @media screen and (min-width: 1100px){
        padding: 50px 40px 100px;  
    }
    .blog-text-wrapper{
        @media screen and (min-width: 640px){
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: start;
            justify-content: space-between;
            
        }
        @media screen and (min-width: 992px){
            position: relative;
            
        }
        .blog-text-nav{
            padding: 45px 35px;
            background: #005CA8;
            width: 100%;
            text-align: center;
            order: 1;
            margin-bottom: 20px;
            @media screen and (min-width: 640px){
                padding: 45px 9px; 
                flex: 0 0 45%;   
                order: 2;
                margin-bottom: 0;
            }
            @media screen and (min-width: 768px){
                max-width: 290px;
                text-align: left;
                padding: 45px 30px;
            }
            @media screen and (min-width: 992px){
                position: absolute;
                right: 0px;
                top: 40px;
                
            }
            p{
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                margin-bottom: 30px;
                @media screen and (min-width: 768px){
                    font-size: 16px;   
                }
            }
            li{

                a{
                    font-size: 12px;
                    font-weight: 400;
                    color: #fff;
                    width: 100%;
                    padding: 15px 0;
                    display: block;
                    transition: .2s ease-in-out;
                    &:hover{
                        color: #DDB332;
                        transition: .2s ease-in-out;
                    }
                }
                &:first-of-type{
                    a{
                    padding: 0px 0px 15px;
                    }
                }
                &:last-of-type{
                    a{
                    padding: 15px 0px 0px;
                    }
                }
            }
        }
        .blog-paragraph{
            flex: 0 0 100%;
            margin-bottom: 15px;
            order: 3;
            @media screen and (min-width: 640px){
                margin-bottom: 20px;
            }
            @media screen and (min-width: 992px){
                margin-bottom: 25px;
                flex: 0 0 63%; 
            }
            @media screen and (min-width: 1100px){
                margin-bottom: 40px;
            }
            &:first-of-type{
                @media screen and (min-width: 640px){
                    flex: 0 0 53%;
                    order: 1;
                }
                @media screen and (min-width: 992px){
                    flex: 0 0 63%;   
                }
            }
            &:last-of-type{
                margin-bottom: 0;
            }
            h2{
                font-size: 25px;
                font-weight: 400;
                padding-bottom: 15px;
                @media screen and (min-width: 640px){
                    font-size: 30px;   
                    padding-bottom: 20px;
                }
                @media screen and (min-width: 992px){
                    font-size: 35px;   
                    padding-bottom: 250px; 
                }
                @media screen and (min-width: 1100px){
                    font-size: 40px;   
                    padding-bottom: 30px; 
                }
            }
            h3{
                font-size: 22px;
                font-weight: 400;
                padding-bottom: 10px;
                @media screen and (min-width: 640px){
                    font-size: 25px;   
                    padding-bottom: 15px;
                }
                @media screen and (min-width: 992px){
                    font-size: 28px;   
                    padding-bottom: 20px; 
                }
                @media screen and (min-width: 1100px){
                    font-size: 31px;   
                    padding-bottom: 25px; 
                }
            }
            p{
                font-size: 12px;
                margin: 0;
                @media screen and (min-width: 640px){
                    font-size: 14px;
                }
                @media screen and (min-width: 992px){
                }
                @media screen and (min-width: 1100px){
                }
            }
        }
    }
}

#blog-text-second{
    padding: 50px 15px;
    @media screen and (min-width: 640px){
        padding: 70px 40px;
    }
    @media screen and (min-width: 992px){
        padding: 85px 40px;
    }
    @media screen and (min-width: 1100px){
        padding: 100px 40px;
    }
    .blog-text-wrapper{
        @media screen and (min-width: 1100px){
            padding: 0 70px;
        }
        .blog-paragraph{
            flex: 0 0 100%;
            margin-bottom: 20px;
            max-width: 950px;
            order: unset;
            @media screen and (min-width: 640px){
                margin-bottom: 25px;
            }
            @media screen and (min-width: 992px){
                margin-bottom: 35px;
            }
            @media screen and (min-width: 1100px){
                margin-bottom: 40px;
            }
            &:first-of-type{
                order: unset;
                flex: 0 0 100%;
            }
        }
        img{
            width: 100%;
            height: 277px;
            @media screen and (min-width: 640px){
                height: 314px;
            }
            @media screen and (min-width: 768px){
                height: 412px;
            }
            @media screen and (min-width: 992px){
                height: unset;
            }
        }
        .blog-know-more{
            background: #005CA8;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 15px 20px;
            margin: 40px 0;
            text-align: center;
            @media screen and (min-width: 640px){
                align-items: center;
                justify-content: space-between;
            }
            @media screen and (min-width: 768px){
                padding: 20px 40px;
                margin: 60px 0;
            }
            @media screen and (min-width: 992px){
                padding: 30px 80px;
                margin: 70px 0;
            }
            @media screen and (min-width: 1100px){
                padding: 40px 110px;
                margin: 80px 0;
            }
            h3{ 
            font-size: 22px;
            font-weight: 400;
            color: #fff;  
            flex: 0 0 100%;
            padding-bottom: 15px;
                @media screen and (min-width: 640px){
                    flex: 0 0 59%;
                    padding: 0;
                    font-size: 25px;
                    text-align: left;
                }
                @media screen and (min-width: 992px){
                    font-size: 28px;
                }
                @media screen and (min-width: 1100px){
                    font-size: 31px;
                }
            }
            a{
                display: block;
                margin: 0;
            }
        }
        .paragraph-list{
            margin-top: 20px;
            margin-bottom: 20px;
            @media screen and (min-width: 640px){
                margin-bottom: 40px;
            }
            @media screen and (min-width: 992px){
                padding: 0 45px;
                margin-bottom: 80px;
            }
            @media screen and (min-width: 1100px){
                padding: 0 80px;
                margin-bottom: 100px;
            }
            h3{
                font-size: 22px;
                font-weight: 400;
                padding-bottom: 10px;
                @media screen and (min-width: 640px){
                    font-size: 25px;   
                    padding-bottom: 20px;
                }
                @media screen and (min-width: 992px){
                    font-size: 28px;   
                    padding-bottom: 30px; 
                }
                @media screen and (min-width: 1100px){
                    font-size: 31px;   
                    padding-bottom: 35px; 
                }
            }
            ul{
                padding-left: 20px;
                li{

                    list-style: none;
                    padding: 7.5px 15px 7.5px 0;
                    font-size: 12px;
                    @media screen and (min-width: 640px){
                       font-size: 14px;
                       padding: 10px 15px 10px 0;
                    }
                    @media screen and (min-width: 992px){
                        padding: 15px 15px 15px 0;
                    }
                    span{
                        padding-right: 10px;
                    }
                    &:first-of-type{
                        padding: 0 15px 7.5px 0;
                        @media screen and (min-width: 640px){
                           padding: 0 15px 10px 0;
                        }
                        @media screen and (min-width: 992px){
                            padding: 0 15px 15px 0;
                        }
                    }
                    &:last-of-type{
                        padding: 7.5px 15px 0px 0;
                        @media screen and (min-width: 640px){
                            padding: 10px 15px 0 0 ;
                        }
                        @media screen and (min-width: 992px){
                            padding: 15px 15px 0 0;
                        }
                    }
                }
            }
        }
        .blog-img-wrapper{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 20px;
            img{
                width: 49%;
                max-height: 195px;
                @media screen and (min-width: 640px){
                    max-height: 242px;
                }
                @media screen and (min-width: 768px){
                    max-height: 298px;
                }
                @media screen and (min-width: 992px){
                    max-height: 419px;
                }
                @media screen and (min-width: 1100px){
                    max-height: unset;
                }
            }
            .btn{
                background: #003479;
                color: #fff;
                margin-top: 30px;
                border: 1.2px solid transparent;
                transition: .2s ease-in-out;
                margin-left: auto;
                margin-right: auto;
                &:hover{
                    background: transparent;
                    border: 1.2px solid #003479;
                    color: #003479;
                    transition: .2s ease-in-out;
                }
                @media screen and (min-width: 640px){
                    margin-top: 40px;
                }
                @media screen and (min-width: 992px){
                    margin-top: 50px;
                }
                @media screen and (min-width: 1100px){
                    margin-top: 65px;
                }
            }
        }
    }      
}