.search-popup{
    display: flex;
    position: fixed;
    top: 0;
    left: -9999px;
    width: 100vw;
    height: 1px;
    background: #003479;
    z-index: 9999;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s opacity .3s ease-in-out, 2s left 4s ease-in-out, 2s height .2s ease-in-out;
    &.active{
        display: flex;
        height: 100vh;
        left: 0;
        opacity: 1;
        transition: left .1s ease-in-out, opacity .5s ease-in-out;

    }
    .form-text{
        position: absolute;
        display: block;
        margin: 0 auto;
        font-size: 8rem;
        width: 100%;
        opacity: .2;
        top: 36%;
        text-align: center;
        background: #003479;
        transform: translateY(-50%);
        padding: 0 2%;
        border: 0;
        outline: none;
        color: #fff;
    }
    .search-form{
        width: 100%;
        z-index: 20;
        .form-wrapper{
            width: 50%;
            margin: 0 auto;
            display: flex;
            height: 0px;
            overflow: hidden;
            transition: height .4s ease-in-out;
            &.active{
                height: 60px;
                transition: .4s height .4s ease-in-out;
            }
            .search-input{
                box-shadow: 0 0 70px rgba(0,0,0,.4);
                height: 60px;
                flex: 1;
                width: 90%;
                display: inline-block;
                padding:0px 20px;
                border: none;
                color: #004c9b;
                font-size: 18px;
                font-weight: 500;
                outline: none !important;
            }
            .search-btn{
                width: 60px;
                background: #004c9b;
                outline: none !important;
                transition: .3s ease-in-out;
                border:1.2px solid transparent;
                i{
                    font-size: 40px;
                    color: #fff;

                }
                &:hover{
                    transition: .3s ease-in-out ;
                    background: #fff;
                    border-left: 1.2px solid #004c9b;
                    i{
                        color: #004c9b;
                    }
                }
            }
        }
    }
    .close-search{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 45px;
        cursor: pointer;
        color: #fff;
        transition: .2s ease-in-out;
        &:hover{
            transform: rotate(90deg);
            transition: .2s ease-in-out;
        }
    }
}