#see-more{
    padding: 0 15px;
    h2{
        font-size: 25px;
        font-weight: 400;
        padding-bottom: 10px;
        @media screen and (min-width: 640px){
            font-size: 30px;   
            padding-bottom: 15px;
        }
        @media screen and (min-width: 992px){
            font-size: 35px;   
            padding-bottom: 30px; 
        }
        @media screen and (min-width: 1100px){
            font-size: 40px;   
            padding-bottom: 60px; 
        }
    }
    .news-list-wrapp{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        .news-list-item{
            flex: 0 0 48%;
            margin-bottom: 20px;
            @media screen and (min-width: 640px){
                margin-bottom: 30px;
                
            }
            @media screen and (min-width: 992px){
                margin-bottom: 40px;
                flex: 0 0 32%;
            }
            @media screen and (min-width: 1100px){ 
                margin-bottom: 50px;
            }
            img{
                width: 100%;
                margin-bottom: 10px;
                @media screen and (min-width: 640px){
                    margin-bottom: 15px;
                }
                @media screen and (min-width: 992px){
                    margin-bottom: 20px;
                }
                @media screen and (min-width: 1100px){ 
                    margin-bottom: 25px;
                }
            }
            .news-list-item-title{
                font-weight: 400;
                h3{
                    font-size: 20px;
                    color: #000;
                    font-weight: 400;
                    padding-bottom: 10px;
                    text-transform: none;
                    transition: .2s ease-in-out;
                    @media screen and (min-width: 640px){
                        padding-bottom: 15px;
                        font-size: 22px;
                    }
                    @media screen and (min-width: 992px){
                        padding-bottom: 20px;
                        font-size: 24px;
                    }
                    @media screen and (min-width: 1100px){ 
                        padding-bottom: 25px;
                        font-size: 27px;
                    }
                }
                &:hover{
                    h3{
                        color: #005CA8;
                        transition: .2s ease-in-out;
                    }
                }
            }
            p{
                font-size: 12px;
                font-weight: 400px;
                margin-bottom: 10px;
                @media screen and (min-width: 640px){
                    margin-bottom: 15px;
                    font-size: 14px;
                }
                @media screen and (min-width: 992px){
                    margin-bottom: 20px;
                }
                @media screen and (min-width: 1100px){ 
                    margin-bottom: 25px;
                }
            }
            a{
                font-size: 12px;
                color: #000;
                font-weight: 700;
                text-transform: uppercase;
                transition: .2s ease-in-out;
                &:hover{
                    color: #005CA8;
                    transition: .2s ease-in-out;
                }
            }
        }
        .back-categories{
            margin-top: 20px;
            margin-bottom: 20px;
            @media screen and (min-width: 768px){
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                align-items: center;
                margin: 35px 0;
            }
            @media screen and (min-width: 768px){
                margin: 35px 0 50px;
            }
            p{
            flex: 0 0 100%;
            font-size: 14px;
            font-weight: 700;
            color: #003479;
            text-transform: uppercase;
            @media screen and (min-width: 768px){
                flex: 0 0 31%;
                max-width: 228px;
                margin: 0;
            }
            @media screen and (min-width: 992px){
                font-size: 17px;
                max-width: 290px;

            }
            }

        }
        .news-nav{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 20px;
            max-width: 505px;
            @media screen and (min-width: 640px){
                margin-bottom: 30px;
            }

            @media screen and (min-width: 768px){
                margin: 0;
            }
            @media screen and (min-width: 1100px){ 
                
            }
            li{
                flex: 0 0 auto;
                text-align: center;
                a{
                    padding: 9px 20px;
                    color: #707070;
                    font-size: 11px;
                    transition: .2s ease-in-out;
                    font-weight: 400;
                    text-transform: uppercase;
                    @media screen and (min-width: 640px){
                        font-size: 12px;
                    }
                    &:hover{
                        color: #003479;
                        transition: .2s ease-in-out;
                    }
                    &.active{
                        color: #003479;
                        transition: .2s ease-in-out;
                    }
                }
                &:first-of-type{
                    a{
                    padding: 9px 20px 9px 0;
                    }
                }
                &:last-child{
                    a{
                    padding: 9px 0 9px 20px;
                    }
                }
            }
        }
    }
}